In [1]:
import pandas as pd
import pyodbc
import paramiko
import numpy as np
import datetime as dt

C:\Users\ywang\AppData\Local\anaconda3\Lib\site-packages\paramiko\transport.py:219: CryptographyDeprecationWarning: Blowfish has been deprecated
  "class": algorithms.Blowfish,

In [ ]:
# Change the directory to where the text file which stores vertica password is
pwd = open('..//vertica-pwd.txt','r').read()

In [ ]:
# host = "e-dcf-07.ame.admarketplace.net"
# port = 22
# username = "tdam"
# password = open('../server-pwd.txt','r').read()

In [9]:
import pandas as pd

# Define file paths
input_tsv_file = 'Draft - Yahoo-Template.tsv'  # Replace with your actual file path
output_sql_file = 'insert_statements.sql'    # Replace with desired output path

# Load the TSV file
data = pd.read_csv(input_tsv_file, sep='\t')

# Initialize an empty list to store SQL statements
sql_statements = []

# Generate SQL INSERT statements for each row in the data
for _, row in data.iterrows():
    sql = f"INSERT INTO ADLANDING_CTAID_LOOKUP (PUB_PUBLISHER_ID, PUBLISHER_NAME, PUB_SUB1, PUB_SUB2, PUB_SUB3, PUB_SUB4, CTAID, CREATED_TIME_STAMP, MODIFIED_TIME_STAMP) " \
          f"VALUES({row['publisher_id']}, '{row['PUBLISHER_NAME']}', '{row['SUB1']}', '{row['SUB2']}', '{row['SUB3']}', '{row['SUB4']}', 75151, NOW(), NOW());"
    sql_statements.append(sql)

# Write the generated SQL statements to a file
with open(output_sql_file, 'w') as file:
    for statement in sql_statements:
        file.write(statement + '\n')

print(f"SQL statements have been saved to {output_sql_file}")

SQL statements have been saved to insert_statements.sql

In [7]:
import pandas as pd

# Load the TSV file
file_path = 'Draft - Old_TS_Migration.tsv'
df = pd.read_csv(file_path, sep='\t')

# Function to generate SQL insert statements excluding columns with null values and removing decimal for integers
def generate_sql_insert_exclude_nulls(row):
    columns = []
    values = []
    for column in df.columns:
        value = row[column]
        # Only include non-null values in the SQL statement
        if not pd.isnull(value):
            # Format value: if it's numeric, remove decimal point if possible
            if isinstance(value, (int, float)) and value == int(value):
                values.append(f"'{int(value)}'")  # Convert to integer format
            else:
                values.append(f"'{value}'")  # Keep original format for non-numeric or non-integer-like values
            columns.append(column)

    # Construct the SQL statement dynamically based on non-null columns and values
    sql_statement = f"INSERT INTO TRAFFIC_SOURCE ({', '.join(columns)}, CREATED_TIME_STAMP, MODIFIED_TIME_STAMP) VALUES ({', '.join(values)}, NOW(), NOW());"
    return sql_statement

# Apply the modified function to each row to generate the list of SQL statements
sql_statements = df.apply(generate_sql_insert_exclude_nulls, axis=1)

# Define output file path
output_file_path = 'traffic_source_inserts.sql'

# Write the SQL statements to an output file
with open(output_file_path, 'w') as f:
    for statement in sql_statements:
        f.write(statement + '\n')

print(f"SQL statements have been saved to {output_file_path}")

SQL statements have been saved to traffic_source_inserts.sql

## Unmask

In [ ]:
input_ = {'unmask':[13027], 'whitelist':[]}
date = dt.datetime.strftime(dt.date.today(),'%Y%m%d')

if len(input_['unmask']) > 0:
    print('USE adminDB_Prod;')
    for i in input_['unmask']:
        print("INSERT INTO RFR_MASK_V3 (FEED_ID, PUBLISHER_ID, RFR_DOMAIN, MASK_DOMAIN, LAST_INSERT_BATCH_ID) VALUES (0, %i, 0, 'NO_MASKING', %s);"%(i,date))

## DYNAMIC TILES

## I. Add new account to existing clusters

In [ ]:
para = {'pub_id':[12791,12827,12859], 
        'ads': {},
        'sub1': ['10141','10150'],
        'sub2': ['newtab'],
        'sub3': ['75083'],
        'sub4': [''],
        'account_id': [],
        'ts_level_to-copy-ad':3,
        'ts_level_to-get-ts':3,
        'sub-value-to-copy-ad':'sub1',
        'sub-value-to-pass-ad':'sub1',        
       'ts_index':'FF_advs_05082024_index.txt',
       'cluster_sql':'./clusters/FF_advs_05082024_setup.sql'
       }

In [ ]:
para = {'pub_id':[12875], 
        'ads': {},
        'sub1': ['10164'],
        'sub2': ['homepage'],
        'sub3': ['75099'],
        'sub4': [''],
        'account_id': [],
        'ts_level_to-copy-ad':3,
        'ts_level_to-get-ts':3,
        'sub-value-to-copy-ad':'sub1',
        'sub-value-to-pass-ad':'sub1',        
       'ts_index':'tkmaxx_klarnalaybuy_04162024_index.txt',
       'cluster_sql':'./clusters/tkmaxx_klarnalaybuy_04162024_setup.sql'
       }

In [ ]:
para = {'pub_id':[12845], 
        'ads': {},
        'sub1': ['10154',],
        'sub2': ['mobile728x90','mobile300x250','mobile300x600'],
        'sub3': ['74301','73634','74875','74022','74986','74319','74857','74939','74925','74649','74038','24038','74495','74251','73804','74929','74949','74671','74713','73588','73780','74843','74609','26026','74701','74022','74319','74983','74933','73974','74894','73634','74875','74857','74939','74925','74649','74038','24038','8654','74251','73804','74929','74373','73686','74711','74949','74671','74713','73588','73780','74609','26026','74701','74983','74991'],
        'sub4': [''],
        'account_id': [],
        'ts_level_to-copy-ad':3,
        'ts_level_to-get-ts':3,
        'sub-value-to-copy-ad':'sub1',
        'sub-value-to-pass-ad':'sub1',        
       'ts_index':'TS_index_weatherbugtiles_mobile_advs_04122023_setup.log',
       'cluster_sql':'./clusters/weatherbugtiles_mobile_advs_04122023_setup.sql'
       }

In [ ]:
para = {'pub_id':[13013,13005,13003], 
        'ads': {},
        'sub1': ['strategist'],
        'sub2': ['instagram','sem','paidsocial'],
        'sub3': [''],
        'sub4': [''],
        'account_id': [],
        'ts_level_to-copy-ad':2,
        'ts_level_to-get-ts':2,
        'sub-value-to-copy-ad':'sub1',
        'sub-value-to-pass-ad':'sub1',        
       'ts_index':'vox_03132024_index.txt',
       'cluster_sql':'./clusters/vox_03132024_index_setup.sql'
       }

In [ ]:
para = {'pub_id':[12981], 
        'ads': {},
        'sub1': ['10204'],
        'sub2': ['anywhere'],
        'sub3': ['74301','74777','74983','73634','74875','25116','74887','74022','74986','74319','74925','74939','74991','74649','74038','74863','8654','74481','73804','74521','74929','74929','74929','74929','74929','74993','73686','74711','74949','74671','75033','74867','74755','74997','73588','74609','26026','74919','74701','74894'],
        'sub4': [''],
        'account_id': [],
        'ts_level_to-copy-ad':3,
        'ts_level_to-get-ts':3,
        'sub-value-to-copy-ad':'sub1',
        'sub-value-to-pass-ad':'sub1',        
       'ts_index':'sezzletilesapi_anywhere_09282023_setup.txt',
       'cluster_sql':'./clusters/sezzletilesapi_anywhere_09282023_setup.sql'
       }

In [ ]:
file = open(para['ts_index'],'w') 

for i in para['pub_id']:
    for j in para['sub1']:
            for k in para['sub2']:
                    for l in para['sub3']:
                            for m in para['sub4']:
                                line = str(i) + '|' + str(j) + '|' + str(k)+ '|' + str(l) + '|' + str(m)                           
                                file.writelines('%s\n'%line)
# print(i,j,k,l)
    
file.close()

In [ ]:
para = {'pub_id': ['12259','12329','12395','12487','12679','12741','12747','12965'],
       'sub3': {75097: 
                {'kw': [
                    {'campaign':'220591',  'adgroup':15623217, 'kw':358295817}
                    ,{'campaign':'220589',  'adgroup':15623205, 'kw':358296175}
#                     ,{'campaign':'219881',  'adgroup':15417493, 'kw':353692583}
#                     ,{'campaign':'219883',  'adgroup':14985435, 'kw':348959587}
#                     ,{'campaign':'219885',  'adgroup':15417555, 'kw':353777205}
#                     ,{'campaign':'219887',  'adgroup':15417279, 'kw':353505769}
#                     ,{'campaign':'219889',  'adgroup':15417285, 'kw':353507295}
#                     ,{'campaign':'218597',  'adgroup':15229053, 'kw':349959969}
#                     ,{'campaign':'218585',  'adgroup':15229041, 'kw':349959957}
#                     ,{'campaign':'',  'adgroup':13996009, 'kw':321096639}
#                     ,{'campaign':'',  'adgroup':14012967, 'kw':321464109}
#                     ,{'campaign':'',  'adgroup':14012935, 'kw':321463617}
#                     ,{'campaign':'',  'adgroup':14012791, 'kw':321454465}
#                     ,{'campaign':'',  'adgroup':13996169, 'kw':321102193}
#                     ,{'campaign':'',  'adgroup':13995713, 'kw':321087331}
                ],
                'external':"", 'img':''},
               },
       'ts_index':'tilesDM_viagogo_05132024_index.txt',
       'cluster_sql':'./clusters/tilesDM_viagogo_05132024_setup.sql'}

In [ ]:
para = {'pub_id':[12893], 
        'ads': {},
        'sub1': ['10173'],
        'sub2': ['newtab'],
        'sub3': ['8654','24038','74245','74713','74609','74671','74843','74896','74437','25176','74613','74905'],
        'sub4': [''],
        'account_id': [],
        'ts_level_to-copy-ad':3,
        'ts_level_to-get-ts':3,
        'sub-value-to-copy-ad':'sub1',
        'sub-value-to-pass-ad':'sub1' ,       
       'ts_index':'TS_index_redbricks_advs_11012022_setup.log',
       'cluster_sql':'./clusters/redbricks_advs_11012022_setup.sql'
       }

In [ ]:
## for restructure
para = {'pub_id': ['12747','12299'],
       'sub3': {
       75105: 
                {'kw': [
                    {'campaign':'220655',  'adgroup':15623429, 'kw':358655011}
#                     ,{'campaign':'219581',  'adgroup':15412945, 'kw':353127071}
#                     ,{'campaign':'219383',  'adgroup':15411243, 'kw':351444687}
#                     ,{'campaign':'218733',  'adgroup':15232487, 'kw':350350529}
#                     ,{'campaign':'218647',  'adgroup':15229597, 'kw':350265425}
#                     ,{'campaign':'218643',  'adgroup':15229369, 'kw':350253113}
#                     ,{'campaign':'218595',  'adgroup':15229051, 'kw':349959967}
#                     ,{'campaign':'218597',  'adgroup':15229053, 'kw':349959969}
#                     ,{'campaign':'218585',  'adgroup':15229041, 'kw':349959957}
#                     ,{'campaign':'',  'adgroup':13996009, 'kw':321096639}
#                     ,{'campaign':'',  'adgroup':14012967, 'kw':321464109}
#                     ,{'campaign':'',  'adgroup':14012935, 'kw':321463617}
#                     ,{'campaign':'',  'adgroup':14012791, 'kw':321454465}
#                     ,{'campaign':'',  'adgroup':13996169, 'kw':321102193}
#                     ,{'campaign':'',  'adgroup':13995713, 'kw':321087331}
                ],
                'external':"", 'img':''},
               },
       'cluster_sql':'./clusters/dynamic_tiles_dynamictiles_chewy_restructure_20220511.sql'}

In [ ]:
len(para['pub_id'])

In [ ]:
db = pyodbc.connect('DRIVER={Vertica};SERVER=w-vertica-read.sf.admarketplace.net;PORT=5433;\
                            DATABASE=amp;UID=ywang;PWD=ChangeMe!')
sql = """
select distinct publisher_id, sub1, sub2 from ampx.traffic_source ats 
JOIN domainpub.TS_CLUSTER ts ON ats.ID = ts.PUB_ATS_ID 
where ats.publisher_id in (%s) and level = 2
--and sub2 = 'newtab'
--and sub2 = 'filetaxes'
--and sub2 = 'shopping'
--and sub1 in ('10075')
--and ats.PUBLISHER_ID||sub2 not in (select distinct publisher_id||sub2 from ampx.traffic_source ats where sub3 = 73812 and level =3 and PUBLISHER_ID in (12379,12361,12395,12339))
order by 1,2,3
"""%str(para['pub_id'])[1:-1]

sub2 = pd.read_sql(sql,db)

para['sub2'] = sub2.to_dict('records')

para['tag_id'] = sub2[['publisher_id','sub1']].drop_duplicates().to_dict('records')

sub2 = pd.read_sql(sql,db)

sql = """SELECT DISTINCT ts.CLUSTER_ID FROM ampx.traffic_source ats 
            JOIN domainpub.TS_CLUSTER ts ON ats.ID = ts.PUB_ATS_ID
                where ats.publisher_id in (%s) and ats.level = 2
                --and sub2 = 'newtab'
                --and sub2 = 'filetaxes'
                --and sub1 in ('10075')
                --and sub2 not in (select distinct sub2
                  --              from ampx.TRAFFIC_SOURCE ts 
                    --            join admindb_prod.PUBLISHER p on p.id = ts.PUBLISHER_ID 
                      --          where ts.PUBLISHER_ID = 12481
                        --        and sub3 = '74319')
                 --and ats.id not in (--SELECT distinct ts.id
                                    --from domainpub.TS_CLUSTER tc 
                                    --join ampx.TRAFFIC_SOURCE ts on ts.id = tc.PUB_ATS_ID 
                                    --join domainpub.ADGROUP_DM_CLUSTER adc on adc.DM_CLUSTER_ID = tc.CLUSTER_ID 
                                    --join ampx.ADGROUP ad on ad.id = adc.ADGROUP_ID 
                                    --join ampx.CAMPAIGN ac on ac.id = ad.CAMPAIGN_ID 
                                    --join admindb_prod.PUBLISHER p on p.id = ts.PUBLISHER_ID 
                                    --where ts.PUBLISHER_ID in (12411)
                                    --and ad.ACCOUNT_ID =74565
                                    --and level =2 )
                """%str(para['pub_id'])[1:-1]

para['clusters'] = pd.read_sql(sql,db)['CLUSTER_ID'].tolist()

db.close()

if len(para['pub_id']) == len(para['tag_id']):
    print('Looks good. Move forward')
else:
    print('Is there any special pubs (one with multiple tag iDs) included. If yes, need to take them out')
    
print(len(para['tag_id']))
print(len(para['clusters']))

In [ ]:
sub2

In [ ]:
para['clusters'].sort()

In [ ]:
para['clusters']

In [ ]:
len(para['tag_id'])

In [ ]:
len(sub2)

In [ ]:
file = open(para['ts_index'],'w') 

for i in para['sub3']:
    for k in para['sub2']:
        sub = str(k['publisher_id']) +'|'+ str(k['sub1']) +'|'+ str(k['sub2']) +'|'+ str(i)
        file.writelines('%s\n'%sub)

file.close()

In [ ]:
# Set up dynamic and direct matches
file = open(para['cluster_sql'].split('/')[-1],'w') # para['cluster_sql']
# file.writelines('use ampx;\n\n')
# for i in list(para['sub3'].keys()):
#     file.writelines("UPDATE ACCOUNT SET EXTERNAL_NAME = 'Otto' WHERE ID = 74985;\n\n"%(para['sub3'][i]['external'],i))
# #     Update CDN Image URL 
#     file.writelines("INSERT INTO THUMBNAIL (DESCRIPTION, VERTICAL_ID, ACCOUNT_ID, CAMPAIGN_ID, ADGROUP_ID, ADCOPY_ID, IMAGE_URL, CREATED_TIME_STAMP, THUMBNAIL_STATUS_ID, THUMBNAIL_TYPE_ID) \nVALUES('Account #%i', NULL, %i, NULL, NULL, NULL, '%s', NOW(), 1, 2);"\
# #                     %(i,i,para['sub3'][i]['img']))

file.writelines('\n\nuse dynamic_tiles;\n\n')

for i in list(para['sub3'].keys()):
    for k in para['tag_id']:
        file.writelines('INSERT INTO DYNAMIC_TILES_TAG_SETTING (DYNAMIC_TILES_TAG_ID, ACCOUNT_ID, `ORDER`, CREATED_TIMESTAMP) VALUES(%s, %i, 10, now());\n'%(k['sub1'],int(i)))
    
file.writelines('\n\n-- CLUSTER CREATION --\n')
file.writelines('\nuse domainpub;\n')

for i in para['clusters']:
    for k in list(para['sub3'].keys()):
#         ad  = np.random.choice(para['sub3'][k]['kw'], 1, p=p)[0]
        for j in range(len(para['sub3'][k]['kw'])):
#             print(i)
            ad = para['sub3'][k]['kw'][j]
            file.writelines('INSERT INTO ADGROUP_DM_CLUSTER (ADGROUP_ID, DM_CLUSTER_ID, CREATED_TIME_STAMP, MODIFIED_TIME_STAMP, KEYWORD_ID) VALUES(%i, %i, now(), now(), %i);\n'
            %(ad['adgroup'],i,ad['kw']))
file.close()

In [ ]:
# Set up dynamic and direct matches for RESTRUCTURE
file = open(para['cluster_sql'].split('/')[-1],'w') # para['cluster_sql']

file.writelines('\n\n-- CLUSTER CREATION --\n')
file.writelines('\nuse domainpub;\n')

for i in para['clusters']:
    for k in list(para['sub3'].keys()):
#         ad  = np.random.choice(para['sub3'][k]['kw'], 1, p=p)[0]
        for j in range(len(para['sub3'][k]['kw'])):
#             print(i)
            ad = para['sub3'][k]['kw'][j]
            file.writelines('INSERT INTO ADGROUP_DM_CLUSTER (ADGROUP_ID, DM_CLUSTER_ID, CREATED_TIME_STAMP, MODIFIED_TIME_STAMP, KEYWORD_ID) VALUES(%i, %i, now(), now(), %i);\n'
            %(ad['adgroup'],i,ad['kw']))
file.close()

## II. Setup new feed or new category for existing feed

In [ ]:
para = {'pub_id': 12901, 
             'sample_pub': 12901,#12479,  
             'tag_id': 10172,
        'sub2': ['homepage'],
        'ts_index':'ts_index_snackmedia_footballleagueworld_setup.log',
       'cluster_sql':'snackmedia_footballleagueworld_setup_20220502.sql'}

# only 25176 for home depoy '74437' needs to take out 
# only 74565 for samsung '74557','74513' are the 2 need to take out

In [ ]:
db = pyodbc.connect('DRIVER={Vertica};SERVER=w-vertica-read.sf.admarketplace.net;PORT=5433;\
                            DATABASE=amp;UID=ywang;PWD=ChangeMe!')


sql = """
SELECT DISTINCT p.publisher_name, sub3
FROM ampx.traffic_source ats
join admindb_prod.publisher p on p.id = ats.publisher_id
WHERE ats.PUBLISHER_ID = %i
--and sub1 = '10128'
and ats.level = 3
"""%(para['sample_pub'])

sub2 = pd.read_sql(sql,db)

In [ ]:
sub2

In [ ]:
para['sub3']=list(sub2['sub3'])

### Get the list of sub3 from the sample pub and Tag ID for indexing

In [ ]:
# use this one!

db = pyodbc.connect('DRIVER={Vertica};SERVER=w-vertica-read.sf.admarketplace.net;PORT=5433;\
                            DATABASE=amp;UID=ywang;PWD=ChangeMe!')


sql = """
SELECT DISTINCT  
aa.name as adv, aa.ID as adv_id, ac.name as campaign, ad.CAMPAIGN_ID, da.ADGROUP_ID, da.KEYWORD_ID,
ac.CAMPAIGN_STATUS_ID, ad.ADGROUP_STATUS_ID, ke.KEYWORD_STATUS_ID, ca.CATEGORY_STATUS_ID
FROM ampx.ADGROUP ad 
JOIN domainpub.ADGROUP_DM_CLUSTER da on ad.id = da.ADGROUP_ID and da.dm_cluster_id > 2000000000
JOIN domainpub.TS_CLUSTER ts on da.DM_CLUSTER_ID = ts.CLUSTER_ID
JOIN domainpub.DM_CLUSTER dc on dc.id = ts.CLUSTER_ID AND dc.RESTRICTION_TYPE_ID = 3
JOIN ampx.TRAFFIC_SOURCE ats on ats.id = ts.PUB_ATS_ID
JOIN admindb_prod.PUBLISHER pub on pub.id = ats.PUBLISHER_ID
JOIN ampx.ACCOUNT aa on aa.id = ad.account_id
JOIN ampx.CAMPAIGN ac on ac.id = ad.CAMPAIGN_ID
LEFT JOIN admindb_prod.PUBLISHER_FIXED_BID cpc on cpc.DP_CLUSTER_ID = ts.CLUSTER_ID
LEFT JOIN ampx.KEYWORD ke on ke.id = da.KEYWORD_ID
LEFT JOIN ampx.CATEGORY ca on ca.id = da.CATEGORY_ID
WHERE ats.PUBLISHER_ID in (%s)
and ats.level = 2
and aa.id not in (74437,74495,74561,74447,74557,74557,74557,74513) -- Homedepot Decor, Mercedes Benz CPO, NSI, Samsung accounts
-- and ac.CAMPAIGN_STATUS_ID = 1
and ac.id not in (189862,212405,212459,215103,203551) -- Trivago brand campaign (we have tile cam now), Overstock, Experian (3 campaigns)
and ke.id not in (338699153) -- Petsmart service tiles
and ad.id not in (12249065)
and ac.id not in (214705, 216679, 216681, 215603, 216683, 199184, 215093, 214707) -- Volvo campaign
and aa.id not in (26026) -- Verizon not running tiles in Q3
and aa.id not in (74433,74455) -- Samsung mobile performics, Sovrn Booking tile
and ac.id not in (202099) -- Hotels' US campaign that CM don't want to matched any more
-- and ad.ADGROUP_STATUS_ID = 1
 and aa.account_status_id = 1
and lower(aa.external_name) not like '%%samsung%%'
-- and (aa.ID in (select ACCOUNT_ID from adv) or aa.MANAGED_BY_FLIGHT_PLANS = 0)
-- and aa.id = 73780
"""%(str(para['sample_pub']))

adv = pd.read_sql(sql,db)

                            
sql = """ select max(id) + 1 from domainpub.DM_CLUSTER """
cluster_1st = db.cursor().execute(sql).fetchall()[0][0]

db.close()

In [ ]:
adv = adv.drop_duplicates(['ADGROUP_ID'],keep='first')
adv.sort_values(by='adv',inplace=True)
adv = adv.reset_index(drop=True)

In [ ]:
adv

In [ ]:
len(adv.adv_id.unique())

In [ ]:
adv.to_csv('asset_ff_banner.csv')

## Updating cluster checking for Dynamic Tiles

In [ ]:
db = pyodbc.connect('DRIVER={Vertica};SERVER=w-vertica-read.sf.admarketplace.net;PORT=5433;\
                            DATABASE=amp;UID=ywang;PWD=ChangeMe!')

sql = """select distinct ts.PUBLISHER_ID ,ts.sub1,ts.sub2,ts.sub3, ts.id as ts_id, tc.CLUSTER_ID, adc.ID as clusterid
from ampx.TRAFFIC_SOURCE ts 
join domainpub.TS_CLUSTER tc on tc.PUB_ATS_ID = ts.ID 
join domainpub.ADGROUP_DM_CLUSTER adc on adc.DM_CLUSTER_ID = tc.CLUSTER_ID 
join ampx.KEYWORD k on k.ID = adc.KEYWORD_ID
where 1=1
and PUBLISHER_ID in (12395,12747,12259,12299,12329,12115)
--and ts.TS_PARENT_ID_SUB1 not in (select gb.TS_ID from ampx.GLOBAL_BLACKLIST gb )
--and sub1 not in (SELECT distinct ats.SUB1 
                        --from ampx.TRAFFIC_SOURCE ats
                        --join ampx.GLOBAL_BLACKLIST bl on bl.ts_id = ats.ID 
                        --where ats.PUBLISHER_ID in (12845) and level = 1)
--and ats.sub1 not in (select DISTINCT ts.sub1 from ampx.GLOBAL_BLACKLIST gb 
                          --join ampx.TRAFFIC_SOURCE ts on ts.id = gb.TS_ID
                          --where ts.PUBLISHER_ID in (12359,12371))
                       
--and level = 2
--and sub1 = '10156'
--and sub2 = 'shopsponsoredbrands'
--and sub3 = '74433'
--and sub3 in ('1','2','3','4')
--and sub4 in ('desktop','mobile')
--and adc.ADGROUP_ID = 15411333
and k.ID = 339529217
order by 1,2
"""

ats_id = pd.read_sql(sql,db)

cluster_id = ats_id['CLUSTER_ID'].to_list()

id_of_cluster = ats_id['clusterid'].to_list()

print(len(cluster_id))

print(len(id_of_cluster))

db.close()

In [ ]:
cluster_id

In [ ]:
id_of_cluster

In [ ]:
ad= 14960135
kw = 346924953

In [ ]:
#Update Assets without inserting TS into new assets, Ask for Permission before do UPDATING SQL
file = open('samsungmobile_new_assets_20220427.sql','w') 

file.writelines('\nuse domainpub;\n')

for i in cluster_id :
    file.writelines('UPDATE ADGROUP_DM_CLUSTER \n')
    file.writelines('set ADGROUP_ID = , KEYWORD_ID = , MODIFIED_TIME_STAMP = now()\n')
    file.writelines('where ID in () \n')
    file.writelines('and ADGROUP_ID = \n')
    file.writelines('and KEYWORD_ID = \n')
    file.writelines('\n')
    #file.writelines('\n\n')       
    
                    
#     break
    
file.close()

## Assets from a csv file

In [ ]:
adv = pd.read_csv('ff_mobile_feed_assets.csv')#,dtype='str')

In [ ]:
adv = adv.drop_duplicates(['ADGROUP_ID'],keep='first')
adv.sort_values(by='adv',inplace=True)
adv = adv.reset_index(drop=True)

In [ ]:
adv

In [ ]:
db = pyodbc.connect('DRIVER={Vertica};SERVER=w-vertica-read.sf.admarketplace.net;PORT=5433;\
                            DATABASE=amp;UID=jzhu;PWD=Jay31415@')
sql = """
SELECT ats.ID
FROM admindb_prod.PUBLISHER p 
join ampx.TRAFFIC_SOURCE ats on ats.PUBLISHER_ID = p.ID 
where p.id = 12329
and "LEVEL" =2
--and sub2 = 'searchmanager' 
"""
ats = pd.read_sql(sql,db)
db.close()

In [ ]:
ats_l = list(ats.values)
ats

In [ ]:
for i in range(len(ats_l)):
    print(str(cluster_1st+i-1),ats_l[i] )

In [ ]:
# Number of direct matches
adv.shape

In [ ]:
#  Number of advertisers needed to be matched
len(adv.adv_id.unique())

In [ ]:
adv = adv.iloc[:,1:7].reset_index(drop=True)

In [ ]:
adv

In [ ]:
para['sub3'] = adv['adv_id'].unique().tolist()
print('# advs to match, hence # sub3 values %i'%len(para['sub3']))
print('# of tag IDs: %i'%len(set(para['sub2'])))

In [ ]:
# para['sub3'] = adv['ID'].unique().tolist()
# print('# advs to match, hence # sub3 values %i'%len(para['sub3']))
# print('# of tag IDs: %i'%len(set(para['sub2'])))

In [ ]:
# Make a text file for indexing new traffic sources

file = open(para['ts_index'],'w') 

for i in para['sub3']:
    for k in para['sub2']:
        sub = str(para['pub_id']) + '|' + str(para['tag_id']) + '|' + k + '|' + str(i)
        file.writelines('%s\n'%sub)
#         print('%s\n'%sub)
    
file.close()

In [ ]:
print('# number of TS to index: %i'%(len(para['sub3'])*len(para['sub2'])))

In [ ]:
db = pyodbc.connect('DRIVER={Vertica};SERVER=w-vertica-read.sf.admarketplace.net;PORT=5433;\
                            DATABASE=amp;UID=jzhu;PWD=Jay31415@')
sql = """select ats.ID as ats_id from ampx.traffic_source ats 
            where ats.level = 2 and ats.publisher_id in (%s) and ats.sub2 in (%s)
            --and date(ats.CREATED_TIME_STAMP) = current_date
            """%(str(para['pub_id']),str(para['sub2'])[1:-1])
para['ats_id'] = pd.read_sql(sql,db)['ats_id'].tolist()

sql = """ select max(id) + 1 from domainpub.DM_CLUSTER """

cluster_1st = db.cursor().execute(sql).fetchall()[0][0]

db.close()

if len(para['sub3']) * len(para['sub2']) == len(para['ats_id']):
    print('Index sucessfully')

In [ ]:
len(para['ats_id'])

In [ ]:
para['ats_id']

In [ ]:
print('# of TSs indexed: %i'%len(para['ats_id']))

In [ ]:
cluster_1st

In [ ]:
# cluster_1st =2001360719

In [ ]:
para['cluster_sql']

In [ ]:
adv

In [ ]:
# Set up dynamic and direct matches
file = open(para['cluster_sql'],'w') 
file.writelines('use dynamic_tiles;\n\n')
file.writelines('INSERT INTO DYNAMIC_TILES_TAG (ID, PUBLISHER_ID, CREATED_TIMESTAMP) VALUES (%i, %i, now());\n\n'
                %(para['tag_id'],para['pub_id']))

for i in para['sub3']:
    file.writelines('INSERT INTO DYNAMIC_TILES_TAG_SETTING (DYNAMIC_TILES_TAG_ID, ACCOUNT_ID, `ORDER`, CREATED_TIMESTAMP) VALUES(%i, %i, 10, now());\n'%(para['tag_id'],int(i)))
    
file.writelines('\n\n-- CLUSTER CREATION --\n')
file.writelines('\nuse domainpub;\n')

for i in range(len(para['ats_id'])):
    cluster = cluster_1st+i
#     para['clusters'].append(cluster)
    file.writelines('\n\nINSERT INTO DM_CLUSTER (ID, RESTRICTION_TYPE_ID, CREATED_TIME_STAMP, MODIFIED_TIME_STAMP) VALUES(%i, 3, now(), now());\n'
        %(cluster))
    file.writelines('INSERT INTO TS_CLUSTER (PUB_ATS_ID, CLUSTER_ID, CREATED_TIME_STAMP, MODIFIED_TIME_STAMP) VALUES(%i, %i, now(), now());\n'
        %(para['ats_id'][i],cluster))
    for k in range(len(adv)):
        try:
            file.writelines('INSERT INTO ADGROUP_DM_CLUSTER (ADGROUP_ID, DM_CLUSTER_ID, CREATED_TIME_STAMP, MODIFIED_TIME_STAMP, KEYWORD_ID) VALUES(%i, %i, now(), now(), %i);\n'
            %(adv['ADGROUP_ID'][k],cluster,adv['KEYWORD_ID'][k]))
        except ValueError:
            file.writelines('INSERT INTO ADGROUP_DM_CLUSTER (ADGROUP_ID, DM_CLUSTER_ID, CREATED_TIME_STAMP, MODIFIED_TIME_STAMP, KEYWORD_ID) VALUES(%i, %i, now(), now(), NULL);\n'
            %(adv['ADGROUP_ID'][k],cluster))
file.close()

### Set up assets tailed to each tile pub

In [ ]:
para = {'pub_names': ['umetiles','brandthunder_tiles','fes_tiles','mediavo_tiles','iac_tiles','spigot_toolbar_tiles','redbrick_tiles','mediavo_toolbar_tiles','avast_browser_tiles','cake_tiles','fes_toolbar_tiles','reachmobi_email_tiles','symbaloo_tiles2019','spigot_mobile_tiles','reachmobi_launcher_tiles','internal_tiles','salinasmedia_tiles','whitepages_desktop_tiles','whitepages_mobile_tiles','coinis_tiles','exploreads_extn_tiles','beestripe_browser_tiles','ff_tiles','apptap_tiles','iac_sites_tiles','oceanhero_extn_tiles','oceanhero_sites_tiles','klarnatiles','pmobiletiles','35dda4a9d3e038f31781','quadpaytiles','affirmtiles','xiaomitiles','oceanheromobiletiles','firefoxprivacytiles','nortontiles','kiwibrowsertiles','buttertiles','afterpaytiles','ziptilesapi','iackg'],
       'sub3': [74713],
        'adv': {
            'reachmobi_launcher_tiles': {'adgroup': 15411619,'kw': 351512919}
                      , 'pmobiletiles': {'adgroup': 15411619,'kw': 351512919}
                      ,'mediavo_tiles': {'adgroup': 15411619,'kw': 351512919}
                ,'avast_browser_tiles': {'adgroup': 15411619,'kw': 351512919}
               ,'spigot_toolbar_tiles': {'adgroup': 15411619,'kw': 351512919}
                ,'spigot_mobile_tiles': {'adgroup': 15411619,'kw': 351512919}
#                ,'infinitynewtab_tiles': {'adgroup': 14823241,'kw': 338842029}
                           ,'umetiles': {'adgroup': 15411619,'kw': 351512919}
                 ,'symbaloo_tiles2019': {'adgroup': 15411619,'kw': 351512919}
                          ,'fes_tiles': {'adgroup': 15411619,'kw': 351512919}
              ,'mediavo_toolbar_tiles': {'adgroup': 15411619,'kw': 351512919}
                     ,'redbrick_tiles': {'adgroup': 15411619,'kw': 351512919}
                         ,'cake_tiles': {'adgroup': 15411619,'kw': 351512919}
#                 ,'linkury_tiles': {'adgroup': 14823299,'kw': 338842115}
                 ,'brandthunder_tiles': {'adgroup': 15411619,'kw': 351512919}
#                 ,'spigot_sites_tiles': {'adgroup': 14823291,'kw': 338842065}
               ,'ff_tiles': {'adgroup': 15411619,'kw': 351512919}
#                 ,'spigot_tiles2018': {'adgroup': 14823291,'kw': 338842065}
#                 ,'imali_tiles': {'adgroup': 14823299,'kw': 338842115}
                       ,'coinis_tiles': {'adgroup': 15411619,'kw': 351512919}
#                 ,'mymedia_tiles': {'adgroup': 14823295,'kw': 338842093}
                  ,'fes_toolbar_tiles': {'adgroup': 15411619,'kw': 351512919}
#                 ,'spigot_tiles_intl': {'adgroup': 14823229,'kw': 338841807}
#                 ,'choicehotels_tiles': {'adgroup': 14823295,'kw': 338842093}
                ,'whitepages_mobile_tiles': {'adgroup': 15411619,'kw': 351512919}
                ,'reachmobi_email_tiles': {'adgroup': 15411619,'kw': 351512919}
                ,'whitepages_desktop_tiles': {'adgroup': 15411619,'kw': 351512919}
#                 ,'spigot_mac_toolbar_tiles': {'adgroup': 14823235,'kw': 338841857}
                ,'salinasmedia_tiles': {'adgroup': 15411619,'kw': 351512919}
#                 ,'inquirer_tiles': {'adgroup': 14823289,'kw': 338842077}
#                 ,'adaware_tiles': {'adgroup': 14823289,'kw': 338842077}
                ,'iac_tiles': {'adgroup': 15411619,'kw': 351512919}
#                 ,'sspx_tiles': {'adgroup': 14823269,'kw': 338841949}
                ,'exploreads_extn_tiles': {'adgroup': 15411619,'kw': 351512919}
                ,'apptap_tiles': {'adgroup': 15411619,'kw': 351512919}
                ,'beestripe_browser_tiles': {'adgroup': 15411619,'kw': 351512919}
#                 ,'searchencrypt_tiles': {'adgroup': 14823189,'kw': 338841735}
#                 ,'display_tiles': {'adgroup': 14823229,'kw': 338841807}
#                 ,'savysoda_tiles': {'adgroup': 14823235,'kw': 338841857}
            ,'35dda4a9d3e038f31781': {'adgroup': 15411619,'kw': 351512917}
            ,'ziptilesapi': {'adgroup': 15411619,'kw': 351512921}
            ,'internal_tiles':{'adgroup': 15411619,'kw': 351512919}
            ,'iac_sites_tiles':{'adgroup': 15411619,'kw': 351512919}
            ,'oceanhero_extn_tiles':{'adgroup': 15411619,'kw': 351512919}
            ,'oceanhero_sites_tiles':{'adgroup': 15411619,'kw': 351512919}
            ,'klarnatiles':{'adgroup': 15411619,'kw': 351512919}
            ,'quadpaytiles':{'adgroup': 15411619,'kw': 351512919}
            ,'affirmtiles':{'adgroup': 15411619,'kw': 351512919}
            ,'xiaomitiles':{'adgroup': 15411619,'kw': 351512919}
            ,'oceanheromobiletiles':{'adgroup': 15411619,'kw': 351512919}
            ,'firefoxprivacytiles':{'adgroup': 15411619,'kw': 351512919}
            ,'nortontiles':{'adgroup': 15411619,'kw': 351512919}
            ,'kiwibrowsertiles':{'adgroup': 15411619,'kw': 351512919}
            ,'buttertiles':{'adgroup': 15411619,'kw': 351512919}
            ,'afterpaytiles':{'adgroup': 15411619,'kw': 351512919}
            ,'iackg':{'adgroup': 15411619,'kw': 351512919}
               },
                'external':"", 'img':'',
       'ts_index':'ts_index.log',
       'cluster_sql':'./clusters/stubhub_newassets__tiles_20220413.sql'}

In [ ]:
db = pyodbc.connect('DRIVER={Vertica};SERVER=w-vertica-read.sf.admarketplace.net;PORT=5433;\
                            DATABASE=amp;UID=ywang;PWD=ChangeMe!')
sql = """
select distinct publisher_id, sub1, sub2 from ampx.traffic_source ats 
join admindb_prod.PUBLISHER pub on pub.ID = ats.PUBLISHER_ID 
JOIN domainpub.TS_CLUSTER ts ON ats.ID = ts.PUB_ATS_ID 
where pub.publisher_name in (%s) and level = 2 and pub.pub_delivery_method_id = 3
order by 1,2,3
"""%str(para['pub_names'])[1:-1]

sub2 = pd.read_sql(sql,db)

para['sub2'] = sub2.to_dict('records')


sql = """SELECT DISTINCT ts.CLUSTER_ID,pub.publisher_name FROM ampx.traffic_source ats
            join admindb_prod.PUBLISHER pub on pub.ID = ats.PUBLISHER_ID 
            JOIN domainpub.TS_CLUSTER ts ON ats.ID = ts.PUB_ATS_ID
                where pub.publisher_name in (%s) and ats.level = 2
                """%str(para['pub_names'])[1:-1]

clusters = pd.read_sql(sql,db)

para['clusters'] = {}
for i in para['pub_names']:
#     print(i)
    para['clusters'][i] = clusters[clusters.publisher_name == i]['CLUSTER_ID'].tolist()

# sql = """
# SELECT pub.PUBLISHER_NAME, pub.INTERNAL_NAME, pub.id, tag.ID, ts.ID, ts.MODIFIED_TIMESTAMP
# FROM adminDB_Prod.PUBLISHER pub
# JOIN dynamic_tiles.DYNAMIC_TILES_TAG tag on tag.PUBLISHER_ID = pub.ID
# left JOIN dynamic_tiles.DYNAMIC_TILES_TAG_SETTING ts on ts.DYNAMIC_TILES_TAG_ID = tag.ID and account_id = 74433
# where ts.id is NULL and pub.active = 1 and pub.PUB_DELIVERY_METHOD_ID = 3
# and pub.publisher_name in (%s)
# """%str(para['pub_names'])[1:-1]

# tag_id = pd.read_sql(sql,db)

# para['tag_id'] = tag_id[['tag.ID']].drop_duplicates().tolist()

db.close()

if len(sub2['sub1'].unique()) == len(para['pub_names']):
    print('Looks good. Move forward')
else:
    print('Is there any special pubs (one with multiple tag iDs) included. If yes, need to take them out')
    
# print(len(para['tag_id']))
print(len(para['clusters']))

In [ ]:
len(para['pub_names'])

In [ ]:
len(para['adv'])

In [ ]:
para['tag_id'] = [10034]

In [ ]:
file = open(para['ts_index'],'w') 

for i in para['sub3']:
    for k in para['sub2']:
        sub = str(k['publisher_id']) +'|'+ str(k['sub1']) +'|'+ str(k['sub2']) +'|'+ str(i)
        file.writelines('%s\n'%sub)
    
file.close()

In [ ]:
para['cluster_sql']

In [ ]:
# Set up dynamic and direct matches
file = open(para['cluster_sql'],'w') 
# file.writelines('use ampx;\n\n')
# for i in para['sub3']:
#     file.writelines("UPDATE ACCOUNT SET EXTERNAL_NAME = '%s' WHERE ID = %i;\n\n"%(para['external'],i))
# #     Update CDN Image URL 
#     file.writelines("INSERT INTO THUMBNAIL (DESCRIPTION, VERTICAL_ID, ACCOUNT_ID, CAMPAIGN_ID, ADGROUP_ID, ADCOPY_ID, IMAGE_URL, CREATED_TIME_STAMP, THUMBNAIL_STATUS_ID, THUMBNAIL_TYPE_ID) \nVALUES('Account #%i', NULL, %i, NULL, NULL, NULL, '%s', NOW(), 1, 2);"\
#                     %(i,i,para['img']))

# file.writelines('\n\nuse dynamic_tiles;\n\n')

# for k in para['tag_id']:
#     file.writelines('INSERT INTO DYNAMIC_TILES_TAG_SETTING (DYNAMIC_TILES_TAG_ID, ACCOUNT_ID, `ORDER`, CREATED_TIMESTAMP) VALUES(%s, %i, 10, now());\n'%(str(k),int(i)))
    
file.writelines('\n\n-- CLUSTER CREATION --\n')
file.writelines('\nuse domainpub;\n')

for i in list(para['clusters'].keys()):
    file.writelines('\n\n -- %s -- \n\n'%i)
    for cluster in para['clusters'][i]:
        file.writelines('INSERT INTO ADGROUP_DM_CLUSTER (ADGROUP_ID, DM_CLUSTER_ID, CREATED_TIME_STAMP, MODIFIED_TIME_STAMP, KEYWORD_ID) VALUES(%i, %i, now(), now(), %i);\n'
            %(para['adv'][i]['adgroup'],cluster,para['adv'][i]['kw']))
file.close()

In [ ]:
para['sub3']

In [ ]:
db = pyodbc.connect('DRIVER={Vertica};SERVER=w-vertica-read.sf.admarketplace.net;PORT=5433;\
                            DATABASE=amp;UID=jzhu;PWD=%s'%pwd)
sql = """
SELECT distinct p.PUBLISHER_NAME , sub2, ts.id as ats_id, adc.id as id, tc.CLUSTER_ID, adc.ADGROUP_ID , adc.KEYWORD_ID 
from ampx.TRAFFIC_SOURCE ts 
join admindb_prod.PUBLISHER p on p.id = ts.PUBLISHER_ID
join domainpub.TS_CLUSTER tc on tc.PUB_ATS_ID = ts.ID 
join domainpub.ADGROUP_DM_CLUSTER adc on adc.DM_CLUSTER_ID = tc.CLUSTER_ID 
join ampx.ADGROUP ad on ad.id = adc.ADGROUP_ID 
where ts.PUBLISHER_ID  in (12487)
and level = 2
and ad.ACCOUNT_ID = 74437
"""

ads = pd.read_sql(sql,db)

In [ ]:
ads

In [ ]:
','.join([str(x) for x in ads['id'].tolist()])

In [ ]:
len(ads['sub2'].unique())

## Amazon 74301 connection on Missing TS of tile pubs

In [ ]:
df = pd.read_csv('Amazon_74301_missing_tile_pub_TS.csv')

In [ ]:
df.head()

In [ ]:
file = open('amazon_74301_missing_tile_pubs.log','w') 

for i,j,k in zip(df['PUBLISHER_ID'],df['sub1'],df['sub2']):
    sub = str(i) + '|' + str(j) + '|' + str(k) + '|' + str(74301)
    file.writelines('%s\n'%sub)
#         print('%s\n'%sub)
    
file.close()

In [ ]:
ad = 13467763
kw = 311472949

In [ ]:
file = open('amazon_74301_missing_tile_pubs.sql','w') # para['cluster_sql']
file.writelines('\nuse domainpub;\n')
for i in list(df['CLUSTER_ID']):
        file.writelines('INSERT INTO ADGROUP_DM_CLUSTER (ADGROUP_ID, DM_CLUSTER_ID, CREATED_TIME_STAMP, MODIFIED_TIME_STAMP, KEYWORD_ID) VALUES(%i, %s, now(), now(), %i);\n'
        %(ad,i,kw))
file.close()

In [ ]:
int(list(df['CLUSTER_ID'])[0])

## Amazon 74357 connection on Missing TS of tile pubs

In [ ]:
df = pd.read_csv('amazon_74357_desktop_pub.csv')

In [ ]:
df.head()

In [ ]:
df_assests = pd.read_csv('amazon_74357_desktop.csv')

In [ ]:
df_assests.head()

In [ ]:
file = open('amazon_74357_missing_tile_pubs.sql','w') # para['cluster_sql']
file.writelines('\nuse domainpub;\n')
for i in list(df['CLUSTER_ID']):
        for j,k in zip(df_assests['ADGROUP_ID'],df_assests['KEYWORD_ID']):
            file.writelines('INSERT INTO ADGROUP_DM_CLUSTER (ADGROUP_ID, DM_CLUSTER_ID, CREATED_TIME_STAMP, MODIFIED_TIME_STAMP, KEYWORD_ID) VALUES(%i, %s, now(), now(), %i);\n'
            %(int(j),i,int(k)))
        file.writelines('\n')    
file.close()

In [ ]:
df = pd.read_csv('amazon_74357_mobile_pub.csv')

In [ ]:
df.head()

In [ ]:
df_assests = pd.read_csv('amazon_74357_mobile.csv')

In [ ]:
df_assests.head()

In [ ]:
file = open('amazon_74357_missing_tile_pubs_mobile.sql','w') # para['cluster_sql']
file.writelines('\nuse domainpub;\n')
for i in list(df['CLUSTER_ID']):
        for j,k in zip(df_assests['ADGROUP_ID'],df_assests['KEYWORD_ID']):
            file.writelines('INSERT INTO ADGROUP_DM_CLUSTER (ADGROUP_ID, DM_CLUSTER_ID, CREATED_TIME_STAMP, MODIFIED_TIME_STAMP, KEYWORD_ID) VALUES(%i, %s, now(), now(), %i);\n'
            %(int(j),i,int(k)))
        file.writelines('\n')    
file.close()

In [ ]:
db = pyodbc.connect('DRIVER={Vertica};SERVER=w-vertica-read.sf.admarketplace.net;PORT=5433;\
                            DATABASE=amp;UID=jzhu;PWD=Jay31415@')
sql = """
SELECT distinct adc.DM_CLUSTER_ID 
from ampx.TRAFFIC_SOURCE ts 
join domainpub.TS_CLUSTER tc on tc.PUB_ATS_ID = ts.ID 
join domainpub.ADGROUP_DM_CLUSTER adc on adc.DM_CLUSTER_ID = tc.CLUSTER_ID 
where ts.PUBLISHER_ID = 12697 
"""
cluster = pd.read_sql(sql,db)
db.close()

In [ ]:
cluster

In [ ]:
para['cluster'] = list(cluster['DM_CLUSTER_ID'])

In [ ]:
adv

In [ ]:
# Set up dynamic and direct matches
file = open('sys1_tiles_4ADVs.sql','w') # para['cluster_sql']
file.writelines('use ampx;\n\n')

file.writelines('\n\nuse dynamic_tiles;\n\n')

for i in list(adv['ID']):
    file.writelines('INSERT INTO DYNAMIC_TILES_TAG_SETTING (DYNAMIC_TILES_TAG_ID, ACCOUNT_ID, `ORDER`, CREATED_TIMESTAMP) VALUES(%s, %i, 10, now());\n'%(para['tag_id'],int(i)))
    
file.writelines('\n\n-- CLUSTER CREATION --\n')
file.writelines('\nuse domainpub;\n')

for i,j in zip(adv['adgroup'],adv['keyword']):
    for k in para['cluster']:
        file.writelines('INSERT INTO ADGROUP_DM_CLUSTER (ADGROUP_ID, DM_CLUSTER_ID, CREATED_TIME_STAMP, MODIFIED_TIME_STAMP, KEYWORD_ID) VALUES(%i, %i, now(), now(), %i);\n'
            %(i,k,j))
        
file.close()

In [ ]:
df = pd.read_csv('volvo-new-campaigns-adding.csv')

In [ ]:
df.head()

In [ ]:
df.shape

In [ ]:
cluster = list(df['DM_CLUSTER_ID'])

In [ ]:
ad = [14884393,14884387]
kw = [343114901,343114785]

In [ ]:
for i,j in zip(ad,kw):
    print(i,j)

In [ ]:
# Set up dynamic and direct matches
file = open('vovlo_new_campaigns_20200731.sql','w') # para['cluster_sql']
  
file.writelines('\n\n-- CLUSTER CREATION --\n')
file.writelines('\nuse domainpub;\n')

for k in cluster:
    for i,j in zip(ad,kw):
        file.writelines('INSERT INTO ADGROUP_DM_CLUSTER (ADGROUP_ID, DM_CLUSTER_ID, CREATED_TIME_STAMP, MODIFIED_TIME_STAMP, KEYWORD_ID) VALUES(%i, %i, now(), now(), %i);\n'
            %(i,k,j))
        
file.close()

In [ ]:
db = pyodbc.connect('DRIVER={Vertica};SERVER=w-vertica-read.sf.admarketplace.net;PORT=5433;\
                            DATABASE=amp;UID=jzhu;PWD=Jay31415@')
sql = """
select *
from ampx.account aa 
order by aa.id desc
limit 1

"""
data = pd.read_sql(sql,db)

In [ ]:
data

In [ ]:
data.to_dict('i')[0]

In [ ]:
import json

In [ ]:
json.dumps(data)

In [ ]:
print("""{'execTimestamp': $STR_EXEC_TIMESTAMP',
'spikeThreshold': '$SPIKE_THRESHOLD',
'dropThreshold': '$DROP_THRESHOLD',
'windowSizeMinutes': '$WINDOW_SIZE_MINUTES',
'lookBackDays': 'LOOKBACK_DAYS'}""")

In [ ]:
import json

In [ ]:
db = pyodbc.connect('DRIVER={Vertica};SERVER=e-vertica-dev-read.ame.admarketplace.net;PORT=5433;\
                            DATABASE=vrt_dev;UID=anomaly_pipeline_app;PWD=anomaly_pipeline_app_123')

sql = """
SELECT *
from data_anomaly.ANOMAlY_ALERTS_LOG
"""

In [ ]:
def db():
    return pyodbc.connect('DRIVER={Vertica};SERVER=e-vertica-dev-read.ame.admarketplace.net;PORT=5433;\
                            DATABASE=vrt_dev;UID=anomaly_pipeline_app;PWD=anomaly_pipeline_app_123')

def query_db(query):
    cur = db().cursor()
    cur.execute(query)
    r = [dict((cur.description[i][0], value) \
               for i, value in enumerate(row)) for row in cur.fetchall()]
    cur.connection.close()
    return (r[0] if r else None)

In [ ]:
my_query = query_db(sql)

In [ ]:
type(my_query)

In [ ]:
json_output = json.dump(my_query)

In [ ]:
a = {'output':my_query}

In [ ]:
str(a).replace('\'', '\"')